/collector/nbproject/private/
/collector/collector-war/nbproject/private/
/collector/collector-ejb/nbproject/private/
/collector-server/nbproject/private/
/collector-server/collector-server-war/nbproject/private/
/collector-server/collector-server-ejb/nbproject/private/